/* ======================================== */
/* FORMATING */
/* ======================================== */

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ======================================== */
/* VOTING MACHINE */
/* ======================================== */

.voting-machine{
    display: flex;
    padding: 30px;
    background-color: #dbd5c9;
}


/* ======================================== */
/* SCREEN */
/* ======================================== */

.screen{
    width: 500px;
    height: 320px;
    background: linear-gradient(to right, #E8E8E8, #C1C1C1);
}


/* ======================================== */
/* KEYBOARD */
/* ======================================== */

.keyboard{
    margin-left: 40px;
    background-color: #403A3A;
}


.keyboard-line{
    display: flex;
    justify-content: center;
}


.keyboard-button{
    width: 80px;
    height: 40px;
    padding: 5px;
    background-color: black;
    color: white;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    box-shadow: 2px 2px 0 #555;
}

.keyboard-button:hover{
    cursor: pointer;
}